name: Build, Test and Analyze

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        name: Build, Test and Analyze
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up .NET 10
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "10.0.x"

            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: 17
                  distribution: "zulu"

            - name: Cache SonarQube packages
              uses: actions/cache@v4
              with:
                  path: ~/.sonar/cache
                  key: ${{ runner.os }}-sonar
                  restore-keys: ${{ runner.os }}-sonar

            - name: Install SonarQube scanner
              run: dotnet tool install --global dotnet-sonarscanner

            - name: Restore dependencies
              run: dotnet restore

            - name: Begin SonarQube analysis
              run: |
                  dotnet sonarscanner begin /k:"CoreSyncHub_DotnetCleanAspire_67702e99-7ccd-4839-9ae4-1b01fa0c58e8" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="${{ secrets.SONAR_HOST_URL }}" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml"

            - name: Build
              run: dotnet build --no-restore --no-incremental

            - name: Test with coverage
              run: dotnet test --verbosity normal --settings tests/.runsettings

            - name: End SonarQube analysis
              run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
